@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold-1 {
  font-weight: 500;
}

.bold-2 {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.tiny {
  font-size: 60%;
}

.small {
  font-size: 80%;
}

.normal {
  font-size: 100%;
}

.big {
  font-size: 120%;
}

.large {
  font-size: 140%;
}

.huge {
  font-size: 160%;
}



